@font-face {
    src: url('../font/supermarket.ttf');
    font-family: 'supermarket';
}

body
{
	margin: 0;
	padding: 0;
	background-color: white;
	background-size: cover;
	
}

.loginBox
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 420px;
	padding: 80px 40px;
	box-sizing: border-box;
	background:white;
}
.user
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);
}
h2
{
	margin: 0;
	padding: 0 0 20px;
	color: #2F80ED;
	text-align: center;
}


.facebookBox{
    position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%,-50%);
    	padding: 80px 40px;
}